{
  "env": {
    "es2020": true,
    "browser": true
  },
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/no-extraneous-dependencies": 0,
    "no-restricted-syntax": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "no-unused-vars": 0,
    "no-plusplus": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-brace-presence": [
      1,
      {
        "props": "ignore",
        "children": "ignore"
      }
    ],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
